@model BankZamowien.Models.Entities.Client

@{
    ViewBag.Title = "Details";
}

<h2>Szczegółowe informacje o kliencie</h2>

<div>
    <h4>@Model.Imie @Model.Nazwisko</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<h4>Lista zgłoszeń klienta</h4>
<table class="table">
    <tr>
        <th>
            Nr. referencyjny
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.InquiryList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RefNumber)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", "Inquiries", new { id = item.Id }, new { })
            </td>
        </tr>
    }

</table>


<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
