@model BankZamowien.Models.Entities.Inquiry

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń</h2>

<h3>Czy napewno chcesz usunąć zgłoszenie @Model.RefNumber?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateInquiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateInquiryDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
