@using BankZamowien.Models.ViewModels
@model BankZamowien.Models.Entities.Inquiry

@{
    ViewBag.Title = "Details";
}

<h2>Szczegółowe informacje o zgłoszeniu</h2>

<div>
    <h4>Zgłoszenie @Model.RefNumber</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateInquiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateInquiryDate)
        </dd>
    </dl>
</div>

@Html.Partial("_Msg",new Respond
{
    ClientID = Model.ClientID,
    InquiryID = Model.Id
})

<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powró do listy", "Index")
</p>
